{"openapi":"3.1.0","servers":[{"url":"https://manapool.com/api/v1","description":"Mana Pool Production API (uses live data)"}],"info":{"title":"Mana Pool Public API","description":"This API provides integration endpoints allowing users to manage accounts,\nconnect services, handle inventory, and process orders within the Mana\nPool platform.\n\nTo use this API, you must have a Mana Pool account and generate an API\naccess token. To generate an access token, visit your integration settings\nin the Mana Pool dashboard.\n\n<a href=\"/seller/integrations/manapool-api\">API Integration Settings</a>\n\n<b>Warning: The v1 API is still in active development and is subject to change without notice.</b>","version":"0.25.0"},"paths":{"/prices/singles":{"get":{"tags":["prices"],"description":"Get prices for all in stock singles","responses":{"200":{"description":"Prices for all in stock products","headers":{"Content-Disposition":{"required":true,"description":"Content-Disposition header","schema":{"type":"string","description":"Content-Disposition header","example":"attachment; filename=\"singles.csv\""}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/singlesPricesList"}},"text/csv":{}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":406},"message":{"type":"string","description":"Error message","example":"Not Acceptable"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"406 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/prices/sealed":{"get":{"tags":["prices"],"description":"Get prices and availabile quantities for all in stock sealed products","responses":{"200":{"description":"Prices for all in stock products","headers":{"Content-Disposition":{"required":true,"description":"Content-Disposition header","schema":{"type":"string","description":"Content-Disposition header","example":"attachment; filename=\"sealed.csv\""}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sealedPricesList"}},"text/csv":{}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":406},"message":{"type":"string","description":"Error message","example":"Not Acceptable"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"406 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/prices/variants":{"get":{"tags":["prices"],"description":"Get prices and availabile quantities for all in stock variants","responses":{"200":{"description":"Prices for all in stock products","headers":{"Content-Disposition":{"required":true,"description":"Content-Disposition header","schema":{"type":"string","description":"Content-Disposition header","example":"attachment; filename=\"variants.csv\""}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/variantPricesList"}},"text/csv":{}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":406},"message":{"type":"string","description":"Error message","example":"Not Acceptable"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"406 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/products/singles":{"get":{"tags":["products"],"description":"Search products and prices for singles. Returns products even if out of stock. Only one of scryfall_ids, tcgplayer_ids, tcgplayer_sku_ids, or product_ids may be provided.","operationId":"searchSingles","parameters":[{"in":"query","name":"scryfall_ids","schema":{"description":"Scryfall IDs to filter by (max 100)","example":["d412d727-4fe8-4c21-a2cb-609395935dd8"],"minItems":1,"maxItems":100,"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"description":"Scryfall IDs to filter by (max 100)"},{"in":"query","name":"tcgplayer_ids","schema":{"description":"TCGPlayer Product IDs to filter by (max 100)","minItems":1,"maxItems":100,"type":"array","items":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"description":"TCGPlayer Product IDs to filter by (max 100)"},{"in":"query","name":"tcgplayer_sku_ids","schema":{"description":"TCGPlayer SKU IDs to filter by (max 100)","minItems":1,"maxItems":100,"type":"array","items":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"description":"TCGPlayer SKU IDs to filter by (max 100)"},{"in":"query","name":"mtgjson_uuids","schema":{"description":"MTGJSON UUIDs to filter by (max 100)","minItems":1,"maxItems":100,"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"description":"MTGJSON UUIDs to filter by (max 100)"},{"in":"query","name":"product_ids","schema":{"description":"Manapool Product IDs to filter by (max 100)","minItems":1,"maxItems":100,"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"description":"Manapool Product IDs to filter by (max 100)"}],"responses":{"200":{"description":"Products and prices for requested singles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lookupSinglesResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/products/sealed":{"get":{"tags":["products"],"description":"Search products and prices for sealed products. Returns products even if out of stock. Only one of tcgplayer_ids or product_ids may be provided.","operationId":"searchSealed","parameters":[{"in":"query","name":"tcgplayer_ids","schema":{"description":"TCGPlayer Product IDs to filter by (max 100)","example":[541235],"minItems":1,"maxItems":100,"type":"array","items":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"description":"TCGPlayer Product IDs to filter by (max 100)"},{"in":"query","name":"mtgjson_uuids","schema":{"description":"MTGJSON UUIDs to filter by (max 100)","minItems":1,"maxItems":100,"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"description":"MTGJSON UUIDs to filter by (max 100)"},{"in":"query","name":"product_ids","schema":{"description":"Manapool Product IDs to filter by (max 100)","minItems":1,"maxItems":100,"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"description":"Manapool Product IDs to filter by (max 100)"}],"responses":{"200":{"description":"Products and prices for requested sealed products","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lookupSealedResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/optimizer":{"post":{"tags":["buyer:optimizer"],"description":"Produce an optimized cart","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"cart":{"type":"array","items":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"mtg_single","description":"Item type"},"name":{"type":"string","description":"Card Name","example":"Polar Kraken"},"set_code":{"description":"Restrict card to a specific set code","example":"ICE","type":"string"},"collector_number":{"description":"Restrict card to a specific collector number","example":"8","type":"string"},"is_token":{"description":"Is the requested item a token or art card","example":false,"default":false,"type":"boolean"},"include_non_sanctioned_legal":{"description":"Allow optimizer to select non-sanctioned legal cards (CE / 30A / etc.)","default":false,"type":"boolean"},"mtgjson_id":{"description":"Restrict card to a specific mtgjson id (overrides is_token and include_non_sanctioned_legal)","example":"aee01e9c-0445-4228-a73a-3e5744844ed3","anyOf":[{"type":"string"},{"type":"null"}]},"language_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]}},{"type":"null"}],"description":"Restrict item to a specific langauge","example":["EN"]},"finish_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NF","FO","EF"]}},{"type":"null"}],"description":"Restrict item to specific finishes","example":["FO","EF"]},"condition_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NM","LP","MP","HP","DMG"]}},{"type":"null"}],"description":"Restrict item to specific conditions","example":["NM","LP"]}},"required":["type","name","language_ids","finish_ids","condition_ids"],"description":"Card Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"uri","description":"Item type"},"uri":{"type":"string","description":"Card URI","example":"https://manapool.com/card/blb/219/the-infamous-cruelclaw"},"language_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]}},{"type":"null"}],"description":"Restrict item to a specific langauge","example":["EN"]},"finish_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NF","FO","EF"]}},{"type":"null"}],"description":"Restrict item to specific finishes","example":["FO","EF"]},"condition_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NM","LP","MP","HP","DMG"]}},{"type":"null"}],"description":"Restrict item to specific conditions","example":["NM","LP"]}},"required":["type","uri","language_ids","finish_ids","condition_ids"],"description":"Card URI Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"mtg_sealed","description":"Item type"},"mtgjson_id":{"type":"string","description":"mtgjson sealed product id","example":"aee01e9c-0445-4228-a73a-3e5744844ed3"},"language_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]}},{"type":"null"}],"description":"Restrict item to a specific langauge","example":["EN"]}},"required":["type","mtgjson_id","language_ids"],"description":"Sealed Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"tcg_sku","description":"Item type"},"tcgplayer_sku_ids":{"type":"array","items":{"type":"number"},"description":"Acceptable tcgplayer skus for this item"}},"required":["type","tcgplayer_sku_ids"],"description":"TCGPlayer SKU Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"product","description":"Item type"},"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product type","example":"mtg_single"},"product_ids":{"type":"array","items":{"type":"string"},"description":"Product IDs for this item"}},"required":["type","product_type","product_ids"],"description":"Raw Product Request Item"}],"type":"object"},{"type":"object","properties":{"quantity_requested":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items","example":1}},"required":["quantity_requested"]}],"description":"Cart Request Item"},"description":"Cart items"},"model":{"default":"lowest_price","description":"Optimization model","type":"string","enum":["lowest_price","balanced","fewest_packages"],"example":"lowest_price"},"destination_country":{"default":"US","description":"Destination country","example":"US","type":"string","enum":["US","CA"]},"exclude_seller_ids":{"default":null,"description":"Seller IDs to exclude","anyOf":[{"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},{"type":"null"}]},"allow_seller_ids":{"default":null,"description":"Seller IDs to allow","anyOf":[{"type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},{"type":"null"}]},"ship_from_countries":{"default":["US"],"description":"Specify countries cart is allowed to ship from (defaults US only)","type":"array","items":{"type":"string","enum":["US","CA"]}}},"required":["cart"],"description":"Optimizer Request","ref":"optimizerRequest","example":{"cart":[{"quantity_requested":5,"type":"mtg_single","name":"Mountain","language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"]}],"model":"lowest_price","destination_country":"US"}}}}},"responses":{"200":{"description":"Optimized cart","content":{"application/json":{"schema":{"type":"object","properties":{"cart":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Inventory ID","example":"aee01e9c-0445-4228-a73a-3e5744844ed3"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Quantity selected","example":1}},"required":["inventory_id","quantity_selected"],"additionalProperties":false},"description":"Cart items"},"totals":{"type":"object","properties":{"subtotal_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Subtotal in cents","example":1000},"shipping_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Shipping in cents","example":500},"buyer_fee_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Buyer fee in cents","example":10},"total_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Total in cents","example":1500},"seller_count":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Seller count","example":1}},"required":["subtotal_cents","shipping_cents","buyer_fee_cents","total_cents","seller_count"],"additionalProperties":false,"description":"Cart totals"}},"required":["cart","totals"],"additionalProperties":false,"description":"Optimized Cart","ref":"optimizedCart"}},"application/x-ndjson":{"schema":{"type":"string","description":"NDJSON stream of increasingly optimized carts","example":"{\"cart\":[{\"inventory_id\":\"aee01e9c-0445-4228-a73a-3e5744844ed3\",\"quantity_selected\":1}],\"totals\":{\"subtotal_cents\":1000,\"shipping_cents\":500,\"total_cents\":1500,\"seller_count\":1},\"stats\":{\"init_time\":1000,\"query_time\":1000,\"first_response_time\":1000,\"response_time\":1000}}\n{\"cart\":[{\"inventory_id\":\"aee01e9c-0445-4228-a73a-3e5744844ed3\",\"quantity_selected\":1}],\"totals\":{\"subtotal_cents\":1000,\"shipping_cents\":500,\"total_cents\":1500,\"seller_count\":1},\"stats\":{\"init_time\":1000,\"query_time\":1000,\"first_response_time\":1000,\"response_time\":1000}}"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":409},"message":{"type":"string","description":"Error message","example":"Conflict"},"details":{"description":"Error details","example":[{"item":{"type":"mtg_single","name":"Polar Kraken","quantity_requested":1,"language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"],"index":0},"total_available":0}],"type":"array","items":{"type":"object","properties":{"item":{"allOf":[{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"mtg_single","description":"Item type"},"name":{"type":"string","description":"Card Name","example":"Polar Kraken"},"set_code":{"description":"Restrict card to a specific set code","example":"ICE","type":"string"},"collector_number":{"description":"Restrict card to a specific collector number","example":"8","type":"string"},"is_token":{"description":"Is the requested item a token or art card","example":false,"default":false,"type":"boolean"},"include_non_sanctioned_legal":{"description":"Allow optimizer to select non-sanctioned legal cards (CE / 30A / etc.)","default":false,"type":"boolean"},"mtgjson_id":{"description":"Restrict card to a specific mtgjson id (overrides is_token and include_non_sanctioned_legal)","example":"aee01e9c-0445-4228-a73a-3e5744844ed3","anyOf":[{"type":"string"},{"type":"null"}]},"language_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]}},{"type":"null"}],"description":"Restrict item to a specific langauge","example":["EN"]},"finish_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NF","FO","EF"]}},{"type":"null"}],"description":"Restrict item to specific finishes","example":["FO","EF"]},"condition_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NM","LP","MP","HP","DMG"]}},{"type":"null"}],"description":"Restrict item to specific conditions","example":["NM","LP"]}},"required":["type","name","language_ids","finish_ids","condition_ids"],"additionalProperties":false,"description":"Card Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"uri","description":"Item type"},"uri":{"type":"string","description":"Card URI","example":"https://manapool.com/card/blb/219/the-infamous-cruelclaw"},"language_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]}},{"type":"null"}],"description":"Restrict item to a specific langauge","example":["EN"]},"finish_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NF","FO","EF"]}},{"type":"null"}],"description":"Restrict item to specific finishes","example":["FO","EF"]},"condition_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["NM","LP","MP","HP","DMG"]}},{"type":"null"}],"description":"Restrict item to specific conditions","example":["NM","LP"]}},"required":["type","uri","language_ids","finish_ids","condition_ids"],"additionalProperties":false,"description":"Card URI Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"mtg_sealed","description":"Item type"},"mtgjson_id":{"type":"string","description":"mtgjson sealed product id","example":"aee01e9c-0445-4228-a73a-3e5744844ed3"},"language_ids":{"anyOf":[{"type":"array","items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]}},{"type":"null"}],"description":"Restrict item to a specific langauge","example":["EN"]}},"required":["type","mtgjson_id","language_ids"],"additionalProperties":false,"description":"Sealed Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"tcg_sku","description":"Item type"},"tcgplayer_sku_ids":{"type":"array","items":{"type":"number"},"description":"Acceptable tcgplayer skus for this item"}},"required":["type","tcgplayer_sku_ids"],"additionalProperties":false,"description":"TCGPlayer SKU Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"product","description":"Item type"},"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product type","example":"mtg_single"},"product_ids":{"type":"array","items":{"type":"string"},"description":"Product IDs for this item"}},"required":["type","product_type","product_ids"],"additionalProperties":false,"description":"Raw Product Request Item"}],"type":"object"},{"type":"object","properties":{"quantity_requested":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items","example":1}},"required":["quantity_requested"],"additionalProperties":false}],"description":"Cart Request Item"},{"type":"object","properties":{"index":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Index of the item in the requested cart","example":0}},"required":["index"],"additionalProperties":false}],"description":"Requested item that could not be satisfied","example":{"type":"mtg_single","name":"Polar Kraken","quantity_requested":1,"language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"],"index":0}},"total_available":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Total available for this item","example":0}},"required":["item","total_available"],"additionalProperties":false,"description":"Detail of an item that could not be satisfied due to insufficient inventory","example":{"item":{"type":"mtg_single","name":"Polar Kraken","quantity_requested":1,"language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"],"index":0},"total_available":0}}}},"required":["status","message"],"additionalProperties":false,"description":"409 API error"}}}},"422":{"description":"Unprocessable content","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":422},"message":{"type":"string","description":"Error message","example":"Unprocessable content"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"422 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/orders":{"get":{"tags":["buyer:orders"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"parameters":[{"in":"query","name":"since","schema":{"description":"Orders since timestamp","example":"2022-01-01T00:00:00Z","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"description":"Orders since timestamp"},{"in":"query","name":"limit","schema":{"default":100,"description":"How many orders to return","example":100,"type":"integer","minimum":1,"maximum":500},"description":"How many orders to return"},{"in":"query","name":"offset","schema":{"default":0,"description":"Offset for pagination","example":0,"type":"integer","minimum":0,"maximum":9007199254740991},"description":"Offset for pagination"}],"responses":{"200":{"description":"Orders fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Order ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"created_at":{"type":"string","description":"Created at timestamp","example":"2024-04-01T05:44:13.336106+00:00"},"subtotal_cents":{"type":"number","description":"Subtotal in cents","example":1000},"tax_cents":{"type":"number","description":"Tax in cents","example":100},"shipping_cents":{"type":"number","description":"Shipping in cents","example":100},"total_cents":{"type":"number","description":"Total in cents","example":1200},"order_number":{"type":"string","description":"Order Label","example":"1234"},"order_seller_details":{"type":"array","items":{"type":"object","properties":{"order_number":{"type":"string","description":"Seller Label","example":"1234-5678"},"seller_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Seller ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"seller_username":{"type":"string","description":"Seller Username","example":"seller"},"item_count":{"type":"number","description":"Number of items shipped from this seller","example":1}},"required":["order_number","seller_id","seller_username","item_count"],"additionalProperties":false},"description":"Seller Order Details","example":[{"order_number":"1234-5678","seller_id":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3","seller_username":"seller","item_count":1}]}},"required":["id","created_at","subtotal_cents","tax_cents","shipping_cents","total_cents","order_number","order_seller_details"],"additionalProperties":false,"description":"Buyer Order List Response"},"description":"List of orders"}},"required":["orders"],"additionalProperties":false,"description":"Orders"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/orders/{id}":{"get":{"tags":["buyer:orders"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Buyer Order ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"required":true,"description":"Buyer Order ID"}],"responses":{"200":{"description":"Order fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Order ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"created_at":{"type":"string","description":"Created at timestamp","example":"2024-04-01T05:44:13.336106+00:00"},"subtotal_cents":{"type":"number","description":"Subtotal in cents","example":1000},"tax_cents":{"type":"number","description":"Tax in cents","example":100},"shipping_cents":{"type":"number","description":"Shipping in cents","example":100},"total_cents":{"type":"number","description":"Total in cents","example":1200},"order_number":{"type":"string","description":"Order Label","example":"1234"},"order_seller_details":{"type":"array","items":{"type":"object","properties":{"order_number":{"type":"string","description":"Seller Label","example":"1234-5678"},"seller_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Seller ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"seller_username":{"type":"string","description":"Seller Username","example":"seller"},"fulfillments":{"type":"array","items":{"type":"object","properties":{"status":{"anyOf":[{"type":"string","enum":["error","processing","shipped","delivered","refunded","replaced"]},{"type":"null"}],"description":"Fulfillment status"},"tracking_company":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Tracking company"},"tracking_number":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Tracking number"},"tracking_url":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Tracking URL"},"in_transit_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}],"description":"In transit at timestamp"}},"required":["status","tracking_company","tracking_number","tracking_url","in_transit_at"],"additionalProperties":false},"description":"Fulfillments"},"items":{"type":"array","items":{"type":"object","properties":{"price_cents":{"type":"number","description":"Price in cents","example":1000},"quantity":{"type":"number","description":"Quantity","example":1},"product":{"type":"object","properties":{"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"product type"},"product_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"product id"},"single":{"anyOf":[{"type":"object","properties":{"scryfall_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"scryfall id"},"mtgjson_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"mtgjson id"},"name":{"type":"string","description":"card name"},"set":{"type":"string","description":"set code"},"number":{"type":"string","description":"collector number"},"language_id":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"language id"},"condition_id":{"type":"string","enum":["NM","LP","MP","HP","DMG"],"description":"condition id"},"finish_id":{"type":"string","enum":["NF","FO","EF"],"description":"finish id"}},"required":["scryfall_id","mtgjson_id","name","set","number","language_id","condition_id","finish_id"],"additionalProperties":false},{"type":"null"}],"description":"single"},"sealed":{"anyOf":[{"type":"object","properties":{"mtgjson_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"mtgjson id"},"name":{"type":"string","description":"sealed product name"},"set":{"type":"string","description":"set code"},"language_id":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"language id"}},"required":["mtgjson_id","name","set","language_id"],"additionalProperties":false},{"type":"null"}],"description":"sealed"}},"required":["product_type","product_id","single","sealed"],"additionalProperties":false,"description":"product"}},"required":["price_cents","quantity","product"],"additionalProperties":false},"description":"Order Items"}},"required":["order_number","seller_id","seller_username","fulfillments","items"],"additionalProperties":false},"description":"Seller Order Details"}},"required":["id","created_at","subtotal_cents","tax_cents","shipping_cents","total_cents","order_number","order_seller_details"],"additionalProperties":false,"description":"Order"}},"required":["order"],"additionalProperties":false,"description":"Order details"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/orders/pending-orders":{"post":{"tags":["buyer:orders"],"description":"Create a new order","requestBody":{"content":{"application/json":{"schema":{"description":"Request to create a pending order","ref":"pendingOrderRequest","type":"object","properties":{"shipping_overrides":{"description":"Shipping overrides by seller identifier (ignored if Mana Pool already requires a higher shipping method)","type":"object","propertyNames":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"},"additionalProperties":{"description":"Upgraded shipping method for the seller (ignored if Mana Pool already requires a higher shipping method)","type":"string","enum":["first_class","ground_advantage"]}},"line_items":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the inventory item","example":"123e4567-e89b-12d3-a456-426614174000"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items to purchase (must be positive)","example":1}},"required":["inventory_id","quantity_selected"]},"description":"List of items to purchase","example":[{"inventory_id":"123e4567-e89b-12d3-a456-426614174000","quantity_selected":1}]},"tax_address":{"description":"Address for tax calculation (deprecated, use shipping_address instead)","deprecated":true,"type":"object","properties":{"line1":{"type":"string","minLength":1,"description":"Address Line 1","example":"123 Main St"},"city":{"type":"string","minLength":1,"description":"City","example":"Anytown"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"State Code","example":"NY"},"postal_code":{"type":"string","description":"Postal Code","example":"12345"},"country":{"type":"string","enum":["US","CA"],"description":"Country","example":"US"}},"required":["line1","city","state","postal_code","country"]},"shipping_address":{"description":"Address for tax and shipping calculations","type":"object","properties":{"line1":{"type":"string","minLength":1,"description":"Address Line 1","example":"123 Main St"},"city":{"type":"string","minLength":1,"description":"City","example":"Anytown"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"State Code","example":"NY"},"postal_code":{"type":"string","description":"Postal Code","example":"12345"},"country":{"type":"string","enum":["US","CA"],"description":"Country","example":"US"}},"required":["line1","city","state","postal_code","country"]}},"required":["line_items"]}}}},"responses":{"200":{"description":"Pending order created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"shipping_overrides":{"description":"Shipping overrides by seller identifier (ignored if Mana Pool already requires a higher shipping method)","type":"object","propertyNames":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"},"additionalProperties":{"description":"Upgraded shipping method for the seller (ignored if Mana Pool already requires a higher shipping method)","type":"string","enum":["first_class","ground_advantage"]}},"line_items":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the inventory item","example":"123e4567-e89b-12d3-a456-426614174000"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items to purchase (must be positive)","example":1}},"required":["inventory_id","quantity_selected"],"additionalProperties":false},"description":"List of items to purchase","example":[{"inventory_id":"123e4567-e89b-12d3-a456-426614174000","quantity_selected":1}]},"status":{"type":"string","enum":["pending","completed"],"description":"Current status of the order","example":"pending"},"totals":{"type":"object","properties":{"subtotal_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Order subtotal in cents before shipping and tax","example":1999},"shipping_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Shipping cost in cents","example":499},"tax_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Tax amount in cents","example":200},"total_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Total order amount in cents including shipping and tax","example":2698}},"required":["subtotal_cents","shipping_cents","tax_cents","total_cents"],"additionalProperties":false,"description":"Order total breakdown"},"order":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Buyer Order ID created upon completion of this pending order","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["id"],"additionalProperties":false},{"type":"null"}],"description":"Completed order details (null if status is pending)"}},"required":["id","line_items","status","totals","order"],"additionalProperties":false,"description":"Pending order object","ref":"pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/orders/pending-orders/{id}":{"get":{"tags":["buyer:orders"],"description":"Get details for a pending order","parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true,"description":"Unique identifier for the pending order"}],"responses":{"200":{"description":"Pending order details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"shipping_overrides":{"description":"Shipping overrides by seller identifier (ignored if Mana Pool already requires a higher shipping method)","type":"object","propertyNames":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"},"additionalProperties":{"description":"Upgraded shipping method for the seller (ignored if Mana Pool already requires a higher shipping method)","type":"string","enum":["first_class","ground_advantage"]}},"line_items":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the inventory item","example":"123e4567-e89b-12d3-a456-426614174000"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items to purchase (must be positive)","example":1}},"required":["inventory_id","quantity_selected"],"additionalProperties":false},"description":"List of items to purchase","example":[{"inventory_id":"123e4567-e89b-12d3-a456-426614174000","quantity_selected":1}]},"status":{"type":"string","enum":["pending","completed"],"description":"Current status of the order","example":"pending"},"totals":{"type":"object","properties":{"subtotal_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Order subtotal in cents before shipping and tax","example":1999},"shipping_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Shipping cost in cents","example":499},"tax_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Tax amount in cents","example":200},"total_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Total order amount in cents including shipping and tax","example":2698}},"required":["subtotal_cents","shipping_cents","tax_cents","total_cents"],"additionalProperties":false,"description":"Order total breakdown"},"order":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Buyer Order ID created upon completion of this pending order","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["id"],"additionalProperties":false},{"type":"null"}],"description":"Completed order details (null if status is pending)"}},"required":["id","line_items","status","totals","order"],"additionalProperties":false,"description":"Pending order object","ref":"pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}},"put":{"tags":["buyer:orders"],"description":"Update a pending order","parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true,"description":"Unique identifier for the pending order"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Request to create a pending order","ref":"pendingOrderRequest","type":"object","properties":{"shipping_overrides":{"description":"Shipping overrides by seller identifier (ignored if Mana Pool already requires a higher shipping method)","type":"object","propertyNames":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"},"additionalProperties":{"description":"Upgraded shipping method for the seller (ignored if Mana Pool already requires a higher shipping method)","type":"string","enum":["first_class","ground_advantage"]}},"line_items":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the inventory item","example":"123e4567-e89b-12d3-a456-426614174000"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items to purchase (must be positive)","example":1}},"required":["inventory_id","quantity_selected"]},"description":"List of items to purchase","example":[{"inventory_id":"123e4567-e89b-12d3-a456-426614174000","quantity_selected":1}]},"tax_address":{"description":"Address for tax calculation (deprecated, use shipping_address instead)","deprecated":true,"type":"object","properties":{"line1":{"type":"string","minLength":1,"description":"Address Line 1","example":"123 Main St"},"city":{"type":"string","minLength":1,"description":"City","example":"Anytown"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"State Code","example":"NY"},"postal_code":{"type":"string","description":"Postal Code","example":"12345"},"country":{"type":"string","enum":["US","CA"],"description":"Country","example":"US"}},"required":["line1","city","state","postal_code","country"]},"shipping_address":{"description":"Address for tax and shipping calculations","type":"object","properties":{"line1":{"type":"string","minLength":1,"description":"Address Line 1","example":"123 Main St"},"city":{"type":"string","minLength":1,"description":"City","example":"Anytown"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"State Code","example":"NY"},"postal_code":{"type":"string","description":"Postal Code","example":"12345"},"country":{"type":"string","enum":["US","CA"],"description":"Country","example":"US"}},"required":["line1","city","state","postal_code","country"]}},"required":["line_items"]}}}},"responses":{"200":{"description":"Pending order updated","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"shipping_overrides":{"description":"Shipping overrides by seller identifier (ignored if Mana Pool already requires a higher shipping method)","type":"object","propertyNames":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"},"additionalProperties":{"description":"Upgraded shipping method for the seller (ignored if Mana Pool already requires a higher shipping method)","type":"string","enum":["first_class","ground_advantage"]}},"line_items":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the inventory item","example":"123e4567-e89b-12d3-a456-426614174000"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items to purchase (must be positive)","example":1}},"required":["inventory_id","quantity_selected"],"additionalProperties":false},"description":"List of items to purchase","example":[{"inventory_id":"123e4567-e89b-12d3-a456-426614174000","quantity_selected":1}]},"status":{"type":"string","enum":["pending","completed"],"description":"Current status of the order","example":"pending"},"totals":{"type":"object","properties":{"subtotal_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Order subtotal in cents before shipping and tax","example":1999},"shipping_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Shipping cost in cents","example":499},"tax_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Tax amount in cents","example":200},"total_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Total order amount in cents including shipping and tax","example":2698}},"required":["subtotal_cents","shipping_cents","tax_cents","total_cents"],"additionalProperties":false,"description":"Order total breakdown"},"order":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Buyer Order ID created upon completion of this pending order","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["id"],"additionalProperties":false},{"type":"null"}],"description":"Completed order details (null if status is pending)"}},"required":["id","line_items","status","totals","order"],"additionalProperties":false,"description":"Pending order object","ref":"pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"423":{"description":"Order not pending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":423},"message":{"type":"string","description":"Error message","example":"Order not pending"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"423 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/orders/pending-orders/{id}/purchase":{"post":{"tags":["buyer:orders"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Purchase a pending order","parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true,"description":"Unique identifier for the pending order"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"payment_method":{"type":"string","enum":["user_credit"],"description":"Payment method","example":"user_credit"},"billing_address":{"description":"Billing Address","$ref":"#/components/schemas/address"},"shipping_address":{"description":"Shipping Address","$ref":"#/components/schemas/address"},"apply_buyer_fee":{"description":"Add a buyer fee to this order (you should probably leave this blank or false)","type":"boolean"}},"required":["payment_method","billing_address","shipping_address"],"description":"Request to purchase a pending order","ref":"purchasePendingOrderRequest"}}}},"responses":{"200":{"description":"Order purchased","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"shipping_overrides":{"description":"Shipping overrides by seller identifier (ignored if Mana Pool already requires a higher shipping method)","type":"object","propertyNames":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"},"additionalProperties":{"description":"Upgraded shipping method for the seller (ignored if Mana Pool already requires a higher shipping method)","type":"string","enum":["first_class","ground_advantage"]}},"line_items":{"type":"array","items":{"type":"object","properties":{"inventory_id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Unique identifier for the inventory item","example":"123e4567-e89b-12d3-a456-426614174000"},"quantity_selected":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991,"description":"Number of items to purchase (must be positive)","example":1}},"required":["inventory_id","quantity_selected"],"additionalProperties":false},"description":"List of items to purchase","example":[{"inventory_id":"123e4567-e89b-12d3-a456-426614174000","quantity_selected":1}]},"status":{"type":"string","enum":["pending","completed"],"description":"Current status of the order","example":"pending"},"totals":{"type":"object","properties":{"subtotal_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Order subtotal in cents before shipping and tax","example":1999},"shipping_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Shipping cost in cents","example":499},"tax_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Tax amount in cents","example":200},"total_cents":{"type":"integer","minimum":0,"maximum":9007199254740991,"description":"Total order amount in cents including shipping and tax","example":2698}},"required":["subtotal_cents","shipping_cents","tax_cents","total_cents"],"additionalProperties":false,"description":"Order total breakdown"},"order":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"Buyer Order ID created upon completion of this pending order","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["id"],"additionalProperties":false},{"type":"null"}],"description":"Completed order details (null if status is pending)"}},"required":["id","line_items","status","totals","order"],"additionalProperties":false,"description":"Pending order object","ref":"pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"402":{"description":"Insufficient funds","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":402},"message":{"type":"string","description":"Error message","example":"Insufficient funds"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"402 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"423":{"description":"Order not pending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":423},"message":{"type":"string","description":"Error message","example":"Order not pending"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"423 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/buyer/credit":{"get":{"tags":["buyer:credit"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller credit balance","responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"user_credit_cents":{"type":"number","description":"User Credit in cents"}},"required":["user_credit_cents"],"additionalProperties":false,"description":"User credit levels"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/account":{"get":{"tags":["seller:account"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller account","responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sellerAccount"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}},"put":{"tags":["seller:account"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Update seller account","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sellerAccountUpdate"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sellerAccount"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/card_info":{"post":{"summary":"Get card information","description":"Look up information for multiple cards by name","operationId":"getCardInfo","tags":["card info"],"requestBody":{"description":"Card names to look up","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"card_names":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"},"description":"List of card names to look up (max 100)","example":["Lightning Bolt","Counterspell","Dark Ritual"]}},"required":["card_names"],"description":"Request body for card information lookup"}}}},"responses":{"200":{"description":"Card information retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"cards":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"The exact card name"},"set_code":{"type":"string","description":"Set code"},"set_name":{"type":"string","description":"Set name"},"card_number":{"type":"string","description":"Card number in set"},"rarity":{"type":"string","description":"Card rarity"},"from_price_cents":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Lowest price in cents"},"quantity_available":{"type":"number","description":"Total quantity in stock"},"release_date":{"type":"string","description":"Set release date"},"legal_formats":{"type":"array","items":{"type":"string"},"description":"Formats where the card is legal"},"flavor_name":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Flavor name if applicable"},"layout":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Card layout"},"is_token":{"type":"boolean","description":"Whether this is a token"},"promo_types":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Promo types if applicable"},"finishes":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Available finishes"},"text":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Card rules text"},"color_identity":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Color identity for Commander format"},"edhrecSaltiness":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"EDHREC saltiness rating"},"power":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Creature power"},"defense":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Creature toughness/defense"},"mana_cost":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Mana cost"},"mana_value":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Converted mana cost"}},"required":["name","set_code","set_name","card_number","rarity","from_price_cents","quantity_available","release_date","legal_formats","flavor_name","layout","is_token","promo_types","finishes","text","color_identity","edhrecSaltiness","power","defense","mana_cost","mana_value"],"additionalProperties":false,"description":"Card information object"},"description":"List of card information objects"},"not_found":{"type":"array","items":{"type":"string"},"description":"Card names that were not found"}},"required":["cards","not_found"],"additionalProperties":false,"description":"Response containing card information and not found cards"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}}}}},"/deck":{"post":{"tags":["deck"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"summary":"Validate deck","description":"Validate if a deck is a valid commander deck","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/deckCreateRequest"}}}},"responses":{"200":{"description":"Deck created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/deckCreateResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Invalid request data"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/inventory/listings":{"get":{"tags":["buyer:listings"],"parameters":[{"in":"query","name":"id","schema":{"description":"inventory item ids","type":"array","items":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"description":"inventory item ids"}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory_items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"list of matched inventory items"}},"required":["inventory_items"],"additionalProperties":false,"description":"inventory items response"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/inventory/listings/{id}":{"get":{"tags":["buyer:listings"],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$","description":"inventory item id","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true,"description":"inventory item id"}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory_item":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory_item"],"additionalProperties":false,"description":"inventory item response"}}}},"404":{"description":"Inventory item not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Inventory item not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/inventory/tcgsku/{sku}":{"get":{"tags":["legacy:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory item by TCGPlayer SKU","deprecated":true,"summary":"See \"GET /seller/inventory/tcgsku/{sku}\"","parameters":[{"in":"path","name":"sku","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true,"description":"TCGPlayer SKU"}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"additionalProperties":false,"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}},"delete":{"tags":["legacy:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Delete seller inventory item by TCGPlayer SKU","deprecated":true,"summary":"See \"DELETE /seller/inventory/tcgsku/{sku}\"","parameters":[{"in":"path","name":"sku","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true,"description":"TCGPlayer SKU"}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"additionalProperties":false,"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}},"put":{"tags":["legacy:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Set price and quantity for inventory item by TCGPlayer SKU","deprecated":true,"summary":"See \"PUT /seller/inventory/tcgsku/{sku}\"","parameters":[{"in":"path","name":"sku","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true,"description":"TCGPlayer SKU"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"price_cents":{"type":"number","description":"Price in cents","example":525},"quantity":{"type":"number","description":"Quantity","example":3}},"required":["price_cents","quantity"],"description":"Set inventory item"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"additionalProperties":false,"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/job-apply":{"post":{"tags":["job-application"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Submit a job application for the software engineering position","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"first_name":{"type":"string","description":"Applicant's first name","example":"John"},"last_name":{"type":"string","description":"Applicant's last name","example":"Doe"},"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+.-]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9-]*\\.)+[A-Za-z]{2,}$","description":"Applicant's email address","example":"john.doe@example.com"},"linkedin_url":{"description":"Applicant's LinkedIn profile URL (optional)","example":"https://linkedin.com/in/johndoe","type":"string"},"github_url":{"description":"Applicant's GitHub profile URL (optional)","example":"https://github.com/johndoe","type":"string"},"application":{"description":"A zip file containing your resume, cover letter, and API app (max 25MB)","type":"string","format":"binary"}},"required":["first_name","last_name","email","application"],"description":"Job application form data with application file"}}}},"responses":{"201":{"description":"Application submitted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobApplicationResponse"}}}},"400":{"description":"Bad Request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad Request - Invalid input data"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"401 API error"}}}},"413":{"description":"Payload Too Large - File exceeds 25MB limit","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":413},"message":{"type":"string","description":"Error message","example":"Payload Too Large - File exceeds 25MB limit"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"413 API error"}}}},"415":{"description":"Unsupported Media Type - Only ZIP files are accepted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":415},"message":{"type":"string","description":"Error message","example":"Unsupported Media Type - Only ZIP files are accepted"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"415 API error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal Server Error"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"500 API error"}}}}}}},"/seller/inventory":{"get":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory","parameters":[{"in":"query","name":"limit","schema":{"default":100,"description":"How many inventory items to return","example":100,"type":"integer","minimum":1,"maximum":10000},"description":"How many inventory items to return"},{"in":"query","name":"offset","schema":{"default":0,"description":"Offset for pagination","example":0,"type":"integer","minimum":0,"maximum":9007199254740991},"description":"Offset for pagination"},{"in":"query","name":"minQuantity","schema":{"description":"Minimum quantity filter","example":1,"type":"integer","minimum":0,"maximum":9007199254740991},"description":"Minimum quantity filter"}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"Inventory items"},"pagination":{"type":"object","properties":{"total":{"type":"number","description":"Total number of inventory items"},"returned":{"type":"number","description":"Number of inventory items returned"},"offset":{"type":"number","description":"Offset for pagination"},"limit":{"type":"number","description":"How many inventory items to return"}},"required":["total","returned","offset","limit"],"additionalProperties":false,"description":"Pagination"}},"required":["inventory","pagination"],"additionalProperties":false,"description":"Multiple inventory items response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"description":"Error details","example":["error details"],"type":"array","items":{"type":"string","description":"Error details","example":"error details"}}},"required":["status","message"],"additionalProperties":false,"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"num
[...]
